.bl-list {

}
.bl-list-item {
	margin-bottom: 30px;
}
.bl-date {
	font-size: 13px;
	color: @text-muted;
	margin-bottom: 10px;
}
.bl-list-item-title {
	font-size: 16px;
	margin: 0 0 10px 0;
}
.bl-list-item-text {

}
.bl-list-item-more {
	margin-top: 10px;
}
.bl-list-item-img {
	float: right;
	margin-left: 15px;
	@media (max-width: 767px) {
		float: none;
		margin-bottom: 10px;
		margin-left: 0;
		display: inline-block;
	}
}