html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  font-family: @font-family;
  font-weight: normal;
  font-size: @font-size;
  line-height: @line-height;
  color:@text-color;
  background:@body-bg;
  overflow-x: hidden;
}
.body-print {
  background-color: white;
  margin-bottom: 0;
}
img {
  max-width: 100%;
}
.hide {
  display: none;
}

/* Links */
a {
  text-decoration: none;
  color: @link-color;
  outline: none !important;
  &:hover {
    text-decoration: underline;
    color: @link-hover-color;
  }
}
.link-ajax {
  text-decoration: none !important;
  white-space: nowrap;
  > span {
    border-bottom: 1px dotted @link-color;
  }
  &:hover {
    > span {
      border-color: transparent;
    }
  }
}
.link-red {
  color: @red !important;
  &.link-ajax {
    > span {
      border-color: @red;
    }
  }
  &:hover {
    &.link-ajax {
      > span {
        border-color: transparent;
      }
    }
  }
}
.link-ico {
  text-decoration: none !important;
  white-space: nowrap;
  &:hover {
    > span {
      text-decoration: underline;
    }
  }
}

/* Forms and Buttons */
.form-group {
  margin-bottom: 15px;
}
.form-group-noinput {
  padding-top: 7px;
}
.form-group-sm {
  margin-bottom: 10px;
}
.form-group-item {
  + .form-group-item {
    margin-top: 10px;
  }
}
.form-control {
  border: 1px solid @border-color;
  box-shadow: none !important;
}
.required-mark {
  color: @red;
}
.input-error {
  border-color: @red !important;
}
.input-phone {
  position: relative;
  > .form-control {
    padding-left: 30px;
  }
}
.input-inline {
  display: inline-block;
  width: auto;
}
.country-icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 11px;
  left: 9px;
  top: 50%;
  margin-top: -5px;
  background-color: #ccc;
  background-image: url(../img/flags.png);
  &-ua {
    background-position: -96px -154px;
  }
  &-ru {
    background-position: -224px -121px;
  }
}
.country-dropdown {
  width: 100%;
}
.country-dropdown-list {
  .clear-ul();
  > li {
    > a {
      display: block;
      padding: 7px 10px 7px 30px;
      position: relative;
      text-decoration: none !important;
      &:hover {
        background-color: @link-hover-bg;
      }
    }
    + li {
      border-top: 1px dotted @border-color;
    }
  }
} 
.btn {
  outline: none !important;
}
.btn-fav {
  color: @text-muted;
  background-color: white;
  border-color: @border-color;
  &:active, &:focus {
    color: @text-muted;
  }
  &:hover {
    color: @fav-active-color;
  }
  &.active {
    color: white;
    background-color: @fav-active-color;
    border-color: @fav-active-color;
  }
}
.btn-delete {
  color: @text-muted;
  background-color: white;
  border-color: @border-color;
  &:active, &:focus {
    color: @text-muted;
  }
  &:hover {
    color: @red;
  }
  &.active {
    color: white;
    background-color: @red;
    border-color: @red;
  }
}
.btn-social {
  padding-left:25px;
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
  &:hover, &:focus, &:active, &.active {
    color: white;
  }
  &.not-active {
    .opacity(0.5);
  }
}
.btn-social-notext {
  width:30px;
  height: 30px;
  color: white;
  margin: 2px 0;
  background-position: center center !important;
}
.btn-vk {
  background: #4474a3;
  border: 0;
  background-image: url(../img/icons/social/c-vk.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#4474a3, 90%);
  }
}
.btn-fb {
  background: #3b5998;
  border: 0;
  background-image: url(../img/icons/social/c-fb.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#3b5998, 90%);
  }
}
.btn-od {
  background: #ff6e00;
  border: 0;
  background-image: url(../img/icons/social/c-od.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#ff6e00, 90%);
  }
}
.btn-toggle {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  &-ico {
    float: right;
    position: relative;
    top: 3px;
  }
  &_md {
    @media (min-width:992px) {
      display: none;
    }
  }
  &_sm {
    @media (min-width:768px) {
      display: none;
    }
  }
}
.upload-btn {
  position: relative;
}
.upload-mask {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 30px;
  input {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 100px;
    cursor: pointer;
    .opacity(0);
  }
}

/* Positions */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}

/* Dropdown */
.dropdown-menu {
	padding: 0;
  &.shown {
    display: block;
  }
  > li {
    > a {
      padding: 5px 15px;
    }
  }
}
.dropdown-menu-in {
	padding: 15px;
  + .dropdown-menu-in {
    border-top: 1px dotted @border-color;
  }
}
.dropdown-menu-footer {
  padding: 15px;
  border-top: 1px dotted @border-color;
}
.dropdown-menu-list {
	.clear-ul();
  max-height:300px;
  overflow: auto;
	> li {
		white-space: nowrap;
		> a {
			display: block;
			padding: 7px 15px;
			text-decoration: none;
			&:hover {
				background-color: @link-hover-bg;
			}
		}
    + li {
      border-top: 1px dotted @border-color;
    }
	}
}
.dropdown-menu-list-footLink {
  border-top: 1px dotted @border-color;
  padding: 7px 15px;
  display: block;
  text-decoration: none !important;
  &:hover {
    background-color: @link-hover-bg;
  }
}
.dropdown-menu-heading {
	padding: 15px;
	border-bottom: 1px solid @border-color;
	position: relative;
}
.dropdown-menu-heading_sm {
  padding: 10px 15px;
}
.dropdown-menu-heading-title {
	font-size: @font-size;
	font-weight: bold;
	margin: 0;
}
.dropdown-menu-heading-container {
	display: table;
}
.dropdown-menu-heading-container-img {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
	padding-right: 10px;
	img {
		max-width: 54px;
		max-height: 54px;
	}
  @media (max-width: 767px) {
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
}
.dropdown-menu-heading-container-content {
	display: table-cell;
	vertical-align: middle;
}
.dropdown-menu-close {
	float: right;
	color: @text-color-light;
	font-size: 20px;
	margin-left: 10px;
	.opacity(.7);
	&:hover {
		color: @text-color-light;
		.opacity(1);
	}
}
.dropdown-menu-wfull {
  width: 100%;
}
.dropdown-menu-nav-header {
  padding: 5px 15px;
  font-weight: bold;
}

/* Container */
.mobile-container {
	@media (max-width: 767px) {
		margin-left: -15px;
		margin-right: -15px;
	}
}

/* Tabs */
.c-tab-content {
  margin-top: 15px;
}

/* Nav Tabs */
.nav-tabs-responsive {
  border: 1px solid @border-color;
  > li {
    float: none;
    + li {
      border-top: 1px dotted @border-color;
    }
    > a {
      border:0 !important;
      .rounded(0);
      margin: 0;
    }
    &.pull-right {
      float: none !important;
    }
    &.active {
      > a, > a:hover {
        background-color: @link-active-bg;
        color: @link-active-color;
      }
    }
  }
}
.nav-tabs-lg {
  @media (max-width: 1199px) {
    .nav-tabs-responsive();
  }
  @media (min-width: 1200px) {
    &.collapse {
      display: block;
    }
  }
}
.nav-tabs-md {
  @media (max-width: 991px) {
    .nav-tabs-responsive();
  }
  @media (min-width: 992px) {
    &.collapse {
      display: block;
    }
  }
}
.nav-tabs-sm {
  @media (max-width: 767px) {
    .nav-tabs-responsive();
  }
  @media (min-width: 768px) {
    &.collapse {
      display: block;
    }
  }
}

/* Nav Pills */
.nav-pills-responsive {
  > li {
    float: none;
    &.pull-right {
      float: none !important;
    }
  }
}
.nav-pills-lg {
  @media (max-width: 1199px) {
    .nav-pills-responsive();
  }
}
.nav-pills-md {
  @media (max-width: 991px) {
    .nav-pills-responsive();
  }
}
.nav-pills-sm {
  @media (max-width: 767px) {
    .nav-pills-responsive();
  }
}
.nav-pills-label {
  background-color: white;
  .rounded(@border-radius);
  color: @text-muted;
  padding: 1px 3px;
  font-size: 13px;
}

/* Modal */
.modal-dialog-lg {
  @media (min-width: 992px) {
    width: 960px;
  }
}


/* Content Carousel */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
 .owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-controls {
    .owl-nav {
      position: absolute;
      width: 100%;
      top:50%;
      margin-top: -18px;
      .owl-prev, .owl-next {
        position: absolute;
        width: 36px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        background-color: @grey-bg-darken;
        color: white;
        .rounded(50%);
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
          color: white;
          background-color: @primary-base-color;
        }
      }
      .owl-prev {
        left: -45px;
      }
      .owl-next {
        right: -45px;
      }
    }
    .owl-dot {
      cursor: pointer;
      cursor: hand;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &.owl-loaded {
    display: block;
  }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden {
    opacity: 0;
  }
  .owl-refresh .owl-item {
    display: none;
  }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    > img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d;
    }
    // lazy load plugin
    .owl-lazy {
      opacity: 0;
      -webkit-transition: opacity 400ms ease;
      -moz-transition: opacity 400ms ease;
      -ms-transition: opacity 400ms ease;
      -o-transition: opacity 400ms ease;
      transition: opacity 400ms ease;
    }
  }
  &.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item {
      float: right;
    }
  }
  // video plugin
  .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
  }
  .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
    &:hover {
      -webkit-transition: scale(1.3, 1.3);
      -moz-transition: scale(1.3, 1.3);
      -ms-transition: scale(1.3, 1.3);
      -o-transition: scale(1.3, 1.3);
      transition: scale(1.3, 1.3);
    }
  }
  .owl-video-playing {
    .owl-video-tn, .owl-video-play-icon {
      display: none;
    }
  }
  .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
  }
  .owl-video-frame {
    position: relative;
    z-index: 1;
  }
}
.owl-nav {
  &.disabled {
    display: none;
  }
  > div {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    .c-carousel-arrow();
    &.disabled {
      border-color: @border-color-darken !important;
      color: @text-muted !important;
      cursor: default !important;
      .opacity(.5);
    }
  }
  .owl-prev {
    left: -60px;
  }
  .owl-next {
    right: -60px;
  }
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
  &.disabled {
    display: none;
  }
}
.owl-dot {
  display: inline-block;
  span {
    display: block;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    .rounded(50%);
    background: @grey-bg-darken;
    cursor: pointer;
    .active&, &:hover {
      background: @primary-base-color;
    }
  }
}
.c-carousel-arrow {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 29px;
	text-align: center;
	border: 1px solid @border-color;
	.rounded(50%);
	color: @text-muted;
	cursor: pointer;
	&:hover {
		color: @primary-base-color;
		border-color: @primary-base-color;
	}
}
.c-carousel-heading {
	h2 {
		margin: 0;
		padding: 0;
		font-size: 18px;
		margin-bottom: 15px;
	}
}
.c-carousel-heading-nav {
	float: right;
	position: relative;
	top: -5px;
}
.c-carousel-heading-nav-arrow {
	margin-left: 5px;
}

/* Favorites */
.c-fav {
	font-size: 18px;
	color: @fav-color;
	&:hover {
		color: @fav-active-color;
	}
	&.active {
		color: @fav-active-color;
	}
}

/* Price */
.c-price {
  white-space: nowrap;
	font-weight: bold;
	color: @price-color;
}
.c-price-sub {
  margin-top: 7px;
  font-size: 13px;
	color: @text-muted;
	font-weight: normal;
  @media (max-width: 767px) {
    display: inline-block;
    white-space: nowrap;
  }
}

/* Scroll to top */
.c-scrolltop {
  position: fixed;
  z-index: 99;
  right: 15px;
  bottom: 15px;
  text-align: center;
  span {
    display: block;
    font-size: 18px;
  }
  a {
    font-size: 13px;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: @primary-light-color;
    .rounded(@border-radius);
    color: @text-muted;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: white;
      background-color: @primary-base-color;
    }
  }
}

/* Alerts */
.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  z-index: 9999;
}
.alert-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.alert-info {
  color: darken(@info-color, 20%);
  background: lighten(@info-color, 40%)
}
.alert-warning {
  color: darken(@warning-color, 20%);
  background: lighten(@warning-color, 40%)
}
.alert-success {
  color: darken(@success-color, 20%);
  background: lighten(@success-color, 40%)
}
.alert-danger, .alert-error {
  color: darken(@danger-color, 20%);
  background: lighten(@danger-color, 40%)
}
.alert-default {
  color: @text-muted;
  background: @grey-bg;
}
.alert-controls {
  margin-top: 10px;
}

/* Date */
.c-date {
  color: @text-muted;
}

/* Pagination */
.pager-input {
  float:right;
  color:@text-muted;
  .form-control {
    width:70px;
    margin-left:5px;
    text-align:center;
  }
  @media (max-width:991px) {
    display:none;
  }
}
.pager {
  text-align: left;
  margin: 0;
  > li {
    > a {
      &.disabled {
        color: @text-muted;
        .opacity(.7);
        cursor: default;
        background-color: transparent !important;
      }
    }
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

/* Tags */
.c-tags {
  &_spacing {
    margin: 15px 0;
  }
}
.c-tag {
  display: inline-block;
  text-decoration: none !important;
  padding: 3px 7px;
  margin-bottom: 4px;
  border: 1px solid @border-color;
  white-space: nowrap;
}

/* Loading */
.c-loader {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/loader.gif);
}

/* Autocomplete */
.autocomplete {
  .clear-ul();
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid @border-color;
  z-index: 999;
  > li {
    display: block;
    padding: 7px 10px;
    cursor: pointer;
    &:hover {
      background: @link-hover-bg;
    }
    + li {
      border-top: 1px dotted @border-color;
    }
  }
}

/* Metro */
.c-metro-selected {
  display: inline-block;
  vertical-align: middle;
}
.c-metro-ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-color: #ccc;
  .rounded(50%);
  margin-right: 3px;
  position: relative;
  top: -1px;
}
.c-metro-ico-cnt {
  color: white;
  text-align: center;
  font-size: 10px;
  display: block;
  position: relative;
  top: 2px;
}

/* Pagination */
.pagination {
  margin: 15px 0;
}
.pager-wrapper {
  &:after {
    .clear();
  }
}

/* Other */
.inline-block {
  display: inline-block;
}